* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #579db3, #4e085f);
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.todo_app {
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(204, 66, 66, 0.1);
}

h2 {
    text-align: center;
    color: #1f1d1d;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#addTaskButton {
    padding: 10px;
    background: #21cf78;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addTaskButton:hover {
    background: #218838;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task.completed span {
    text-decoration: line-through;
    color: #aaa;
}

.task .actions {
    display: flex;
    align-items: center;
}

.task button {
    background: #8a86ca;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px;
}

.task button:hover {
    background: #c82333;
}

.complete-btn {
    background: #352377;
    margin-left: 0;
}

.complete-btn:hover {
    background: #218838;
}

#clearAllButton {
    margin-top: 20px;
    padding: 10px;
    background: #db3b3b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#clearAllButton:hover {
    background: #c82333;
}

.draggable {
    user-select: none;
}

.dragging {
    opacity: 0.5;
}

.edit-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


